
html {
    height: 100%;
}

.login-card {
    padding: 15px 15px 0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    display: flex;
    height: 60%;
    max-height: 740px;
    max-width: 350px;
    border-radius: 10px;
    flex-direction: column;
}

.login-card-content {
    flex-grow: 2;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.login-card-footer {
    padding: 5px 0;
    position: relative;
    bottom: -230px;
}

h2 .highlight {
    color: #fdc654;
}

h2 {
    font-size: 32px;
    margin: 0;
}

h3 {
    color: #d61e2d;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

.front {
    margin-bottom: 50px;
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.front, .back {
    /*background-color: rgba(0,0,0,.3);*/
    position: absolute;
    padding: 10px 30px;
    top: 0;
    left: 0;
    right: 0;

    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
}

.signUpButton, .loginButton {
    display: inline;
    background: none;
    color: rgba(214, 30, 45, 0.77);

}

.logo img {
    border-radius: 30px;
    margin-bottom: 40px;
}

.button {
    background: white;
    display: block;
    color: #d61e2d;
    width: 100%;
    border: none;
    border-radius: 40px;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 32px;
    outline: none;
    cursor: pointer;

}


.button:active {
    background-color: rgba(225, 225, 225, 0.56);
    transform: translateY(3px);
}

.form-field textarea {
    height: 36px;
    line-height: 36px;
    resize: none;
   
}

.form-field {
    margin-bottom: 16px;
    width: 100%;
    position: relative;
    color: #d61e2d;

}

.form-field .icon {
    position: absolute;
    background: white;
    color: #d61e2d;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 40px;
    justify-content: center;
    border-radius: 20px;
}

.form-field .icon:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left: 12px solid white;
    position: absolute;
    left: 35px;

}

.my-image {
    border-radius: 30px;
    margin-bottom: 40px;
}

.form-field input {
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 100%;
    border-radius: 16px;
    height: 36px;
    outline: none;
    background: white;
    transition: all 0.2s;
    color: #d61e2d;
}

.form-field select {
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 100%;
    border-radius: 16px;
    height: 36px;
    outline: none;
    transition: all 0.2s;
    color: #d61e2d;
}

.form-field input::placeholder {
    color: white;
    color: #d61e2d;

}

.form-field select::placeholder {
    color: white;
    color: #d61e2d;
}

.form-field input:hover,
.form-field input:focus {
    background: white;
    color: #d61e2d;
    transition: all 0.2s;
}

.form-field select:hover,
.form-field select:focus {
    background: white;
    color: #d61e2d;
    transition: all 0.2s;
}

.form-field input:hover::placeholder {
    color: #d61e2d;
}

.form-field select:hover::placeholder {
    color: #d61e2d;
}

.select {
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 100%;
    border-radius: 16px;
    height: 36px;
    color: #d61e2d;
    outline: none;
}


.select::after {
    border-radius: 16px;
}


.description {
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 36px;
    width: 100%;
    border-radius: 16px;
    height: 30px;
    background: white;
    color: #d61e2d;
    outline: none;
}


.description::placeholder {
    color: #d61e2d;
    /*font-family: "Montserrat", sans-serif;*/
    text-align: center;
}

.description:hover,
.description:focus {
    background: white;
    color: #d61e2d;
    transition: all 0.2s;
}


/*========================================= home page =====================================*/

.wrapper {
    justify-content: center;
    height: 100vh;
}

#map {
    box-shadow: 10px 10px 15px black;
    width: 400px;
}


.card {
    align-self: center;
}

.card-body {
    display: flex;
    align-self: center;
}

.card-link img {
    width: 20px;
    height: 20px;
}

#reader {
    width: 300px;
}

#result {
    text-align: center;
    font-size: 1.5rem;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p {
    font-size: 30px;
    font-family: "Helvetica Neue", sans-serif;
}


#reader {
    margin-top: 30px;
    width: 400px;
}

#result {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
}
